@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Faustina&family=Indie+Flower&family=Libre+Baskerville:wght@700&display=swap');

@media screen and (max-width: 1200px) {
    .feedback {
        flex-direction: column;
    }

    .text {
        position: relative;
    }
}


@media screen and (max-width: 500px) {
    .about-us > p, .our-mission > p, .our-vision > p {
        font-size: 22px;
        line-height: 35px;
    }

    .text {
        display: none;
        overflow: hidden;
    }

    .about-us, .our-mission, .our-vision, .core-values {
        margin: 0 auto;
        bottom: 350px;
    }


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    z-index: 1000;
    left: 0;
    top: 0;
    position: fixed;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(226, 189, 23), rgb(175, 105, 14));
    width: 100%;
    height: 80px;
    border-bottom: 1px solid seashell;
}

.logo h4 {
    margin: 0;
}

.logo-image {
    position: relative;
    width: 130px;
    margin: 0;
}
/* this is for social media buttons */
.background {
    padding: 40px;
    /* position: relative; */
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    width: 25%;
    border-radius: 15px;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 30px;
}

.social-media-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 3px solid rgb(68, 66, 66);
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
}

.social-media-btn:hover {
    outline-offset: 2px;
    transition: all 0.3s;
}

.social-media-btn img {
    width: 30px;
    transition: all 0.3s;
}

.social-media-btn:hover img {
    transform: scale(1.15);
}

.social-media-btn:hover:nth-child(1) {
    background-color: #0A66C2;;
}

.social-media-btn:hover:nth-child(2) {
    background-color: #f8b72b;
}

.social-media-btn:hover:nth-child(3) {
    background-color: #e52d27;
}

.find-us > h2 {
    color: black;
    text-decoration: none;
}
/* this is the end of social buttons */

.nav-list ul {
    display: flex;
    list-style: none;
    
}

.nav-list ul a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: seashell;
    transition: all .55s ease;
    text-transform: capitalize;
}

.nav-list ul a:hover {
    border-bottom: 2px solid rgb(255, 196, 0);
    color: rgb(237, 28, 36);
}

.nav-list {
     align-self: flex-end; 
}

.nav-list li {
    margin-right: 80px;
}


span.logo {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span h4 {
    display: inline;
    align-self: center;
    color: seashell;
    left: 0;
}



.text {
    font-family: "Libre Baskerville";
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 70px;
    border-left: 2px solid seashell;
    color: #F6B818;
    padding-left: 30px;
    
}

#photo1 .text {
    top: 40%;
    left: 5%;
}

.about-us, .our-mission, .our-vision, .core-values {
    position: relative;
    font-size: 32px;
    width: 80%;
    text-align: center;
    margin: 120px auto 0;
    line-height: 50px;
    word-spacing: 3px;
}

.core-values img {
    width: 100%;
}

h1 {
    text-decoration: underline;
}

.map {
    height: 450px;
    text-align: center;
    margin-top: 100px;
    
}

.home {
    text-decoration: none;
}

.find-us {
    margin-top: 100px;
}



footer {
    color: gray;
    bottom: 0;
    opacity: 0.8;
    text-align: center;
}